 <!-- <h1>Pass data parent to child components </h1>

 <app-user [user]="userName" city="mumbai"></app-user>

 <select #seleteduser (change)="onUserchange(seleteduser.value)">

  <option value="anil">Anil Sidhu</option> 
    <option value="john">john</option> 
      <option value="honey">honey </option> 

 </select> -->

 <!-- reuse Component code  -->

<!-- <h1>Reuse components</h1>
 @for (user of users; track user) {
  <div>
  <app-student [user]="user"></app-student>

  </div>

 } --> 


 <!--  Pass data child component to parent component  -->


<!-- <app-people (getpeople)="handlevalue($event)"></app-people>

@for (people of peoples; track people) {
   <div>{{people}}</div>
} -->


<!--  Pipes in angular -->

<!-- <app-pipes></app-pipes> -->


<!-- Customs pipes -->
 
<!-- <h1>{{amount}}</h1>
<h1>{{ amount | currencyConvertor:5}}</h1>
<h1>{{20 | currencyConvertor:85 }}</h1>
<h1>{{10|currencyConvertor}}</h1> -->


<li></li>
<router-outlet></router-outlet>


<h1>Service</h1>
<button (click)="getProduct()">Load Product</button>

@for (p of product; track p) {
  <h1>{{p.name}}</h1>
  <h1>{{p.brand}}</h1>
  <h1>{{p.price}}</h1>

}